<a href="https://colab.research.google.com/github/miyatada/codejam/blob/master/ManhattanCrepeCart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Manhattan Crepe Cart**

- 問題はこちら
https://codingcompetitions.withgoogle.com/codejam/round/0000000000051706/

## Sample testcase
### Input  	
3<br>
1 10<br>
5 5 N<br>
4 10<br>
2 4 N<br>
2 6 S<br>
1 5 E<br>
3 5 W<br>
8 10<br>
0 2 S<br>
0 3 N<br>
0 3 N<br>
0 4 N<br>
0 5 S<br>
0 5 S<br>
0 8 S<br>
1 5 W<br>

### Output 
 Case #1: 0 6<br>
 Case #2: 2 5<br>
 Case #3: 0 4

## Import

In [0]:
from statistics import mean,median

## Set TestCase

In [0]:
i = 1
P = 8
Q = 10
Corr = [
    '0 2 S',
    '0 3 N',
    '0 3 N',
    '0 4 N',
    '0 5 S',
    '0 5 S',
    '0 8 S',
    '1 5 W'
]

In [22]:
if P == None or Q == None: 
  n = input()
  P, Q = n.split(' ')
  P = int(P)
  Q = int(Q)

print('P: ', P, 'Q: ', Q)

P:  8 Q:  10

In [23]:
wordList = []
X = []
Y = []
D = []

if Corr == None:
  for k in range(0, P):
    n = input()
    x,y,d = n.split(' ')
    X.append(int(x))
    Y.append(int(y))
    D.append(d)
else:
  range_p = range(0,P)
  for k, c in zip(range_p, Corr):
    n = c
    x,y,d = n.split(' ')
    X.append(int(x))
    Y.append(int(y))
    D.append(d)

for x,y,d in zip(X,Y,D):
  print(x,y,d)

0 2 S
0 3 N
0 3 N
0 4 N
0 5 S
0 5 S
0 8 S
1 5 W

## move people

In [24]:

for k,d in enumerate(D):
    print('k:',k,'d',d)
    if d == 'N':
        Y[k] += 1
    elif d == 'S':
        Y[k] -= 1
    elif d == 'W':
        X[k] -= 1
    elif d == 'E':
        X[k] += 1

k: 0 d S
k: 1 d N
k: 2 d N
k: 3 d N
k: 4 d S
k: 5 d S
k: 6 d S
k: 7 d W

## Get average

In [25]:
aveX = int(mean(X))
aveY = int(mean(Y))
print(aveX, aveY)

0 4

## Judge

In [26]:
if P == 1:
    if D[0] == 'N' or D[0] == 'S':
        resX = 0
        resY = aveY
    else:
        resX = aveX
        resY = 0
else:
    resX = aveX
    resY = aveY

print("Case #{}: {} {}".format(i,resX,resY))

Case #0: 0 4